/*              SECCION PARA LA PLAQUETA                      */

#plateTable{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    background-color: beige;
    margin-bottom: 1%;
}

#plateHead{
    background-color: beige;
}

.plateCell{
    border: 1px solid grey;
    border-collapse: collapse;
}

.circulo{
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.plateLetterCell{
    width: 5px;
}

.plateCell{
    width: 8%;
    height: 30px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .plateCell{
        height: 60px;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .plateCell{
        height: 80px;
    }
}
/* cambiar los colores de las celdas */
.clicked{
    background-color: green;
}
.unclicked{
    background-color: red;
}
.none{
    background-color: white;
}

/* pasos seleccionados */
.selectedStep{
    background-color: antiquewhite;
    border: 1px solid blue;
}


/*               OTRAS SECCIONES                                 */
#stepsTable{
    border-collapse: collapse; /* Collapse borders */
    background-color: white;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 12px; /* Increase font-size */  
    margin-left: 1.5%;
    width: 98%;
}
#stepsTable th, #stepsTable td{
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */    
}

#stepsTable tr{
    border-bottom: 1px solid #ddd; 
}

#stepsTHead{
    width: 80%;
}
#stepsTable tr.stepsTHead, #stepsTable tr:hover{
    background-color: #f1f1f1;
}
