{% extends "baseTemplate.twig" %}

{% block title %}create test{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/indexTemplate.css" />
    <script src="../../js/index.js"></script>
{% endblock %}
{% block content %}
    <h1>pagina para crear el test</h1>
    <h2>primero se deben pedir los pasos</h2>
    <h3>despues en que posillos van</h3>

{% endblock %}